.nav-bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px 60px;
  color: white;
}

.logo-img {
  display: flex;
  align-items: center;
  width: 30px;
  height: 30px;
}

.nav-links li a {
  text-decoration: none;
  color: black;
  font-size: 15px;
}

.nav-links {
  display: flex;
  align-items: center;
  gap: 30px;
  list-style: none;
  margin: 0;
  padding: 0;
}

.nav-links li a {
  text-decoration: none;
  color: rgb(41, 38, 38);
  font-size: 15px;
}

.btn {
  background-color: rgb(13, 13, 228);
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 6px;
  font-size: 14px;
  font-weight: bold;
  cursor: pointer;
  margin-right: 10px;
}

.btn:hover {
  background-color: black;
}
